body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url("cartooncloud.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


.card1 {
    background-color: rgba(206, 202, 202, 0.5);
    border-radius: 25px;
    width: 90%;
    height: 75%;
    margin-top: 5%;
}

.card2 {
    /* background-color: rgba(145, 145, 145, 0.500); */
    background-color: rgba(206, 202, 202, 0.5);
    border-radius: 15px;
    width: 90%;
    height: 75%;
    margin-top: 5%;
}

.card3 {
    background-color: rgba(206, 202, 202, 0.5);
    border-radius: 25px;
    width: 90%;
    height: 75%;
    margin-top: 5%;
}

/* .card4 {
    background-color: rgba(206, 202, 202, 0.5);
    border-radius: 25px;
    width: 90%;
    height: 75%;
    margin-top: 5%;
} */


.mainHeader {
    color: white;
    margin: 15px;
}



