h1 {
    color: red;
}

p, li {
    color: green;
}

li {
    list-style-type: circle;
}

.special {
    color: orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

p span {
    color: red;
}

a:link {
    color: black;
}

a:visited {
    color: red;
}

/* a:hover {
    text-decoration: none;
} */

a {
    font-weight: bold;
}

/* body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
} */

#test {
    color: red;
}

.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
}

body {
    background-color: pink;
}

/* keeps background color until screen becomes less than 30em */
@media (min-width: 30em) {
    body {
        background-color: burlywood;
    }
}
