
p {
    font-size: 40px;
}

.formBox {
    border: 3px solid black;
    border-radius: 1em;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    width: 350px;
    box-shadow: 10px 15px 20px;
}

p {
    background: #FFC125;
    color: #5E2612;
    padding: 1em;
    visibility: visible;
    border-radius: 10px;
  }